[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "test/external/gb-test-roms"]
	path = test/external/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
